<style>
    .width-100 {
        width: 100%;
    }
</style>
<nav class="navbar navbar-light " style="background-color: lavender;">
    <h3>WEB TESTER</h3>
</nav>
<div class="container-fluid  h-75">
    <div class="row h-100 ">
        <div class="col-2" style="background-color: #343A40;">
            <div class="btn-group-vertical w-100 mt-3 ">
                <button type="button" class="btn btn-dark text-left" routerLink="/home">
                    <i class="material-icons ">home</i>HOME</button>

                <button  type="button" class="btn btn-dark dropdown-toggle text-left" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons ">find_in_page</i>Dropdown
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                </div>

                <button type="button" class="btn btn-dark text-left" routerLink="/job">
                    <i class="material-icons">settings_backup_restore</i>BACK</button>
                    
            </div>
        </div>
        <div class="col mt-3">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>