<style>
    .btnw-20 {
        width: 20%;
        margin-right: 5%;
    }

    .card-color {
        background-color: honeydew;
    }
</style>
<h2>Project:ProjectUSSD_Template <span class="text-muted font-smaller">All build</span></h2>
<hr>
<div class="card mt-3">
    <div class="card-body">
        <h6 class="card-title">All Test Builds</h6>
        <hr>
    </div>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
<br>

